#boton a{
    display: flex;
    border-radius:20px;
    padding: 15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: map-get($color,colorwhatsapp );
    &:hover{
        background-color: map-get($color,colorwhatsapph);
    }
}