@media (min-width: 1000px) { 
    .navbar-brand{
        display: none;
    }
}
@media screen and (min-width:320px) and (orientation:landscape) {
    #cartas{
        font-size: small;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vh;
        height: 100VH;
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: small;
            width:30rem;
            border: solid 2px black;
            border-radius: 10px;
            #card-body{
                margin:auto;
                border-radius: 6px;
                background-color: map-get($color,colorpagee);
                color: white;
                .titulo{ 
                    color: black;
                    display: flex;
                    align-items: center;
                    align-self: center;
                }
            }
        }        
    }  
}
@media screen and (min-width:320px) and (orientation:landscape) {
    .card{
        width:25rem;
    }
}    
@media screen and (max-width:300px) and (orientation:landscape) {
    #formulario{
        display: flex;
        margin-left: 1px;
        height: 100vh;
        align-items: center;
        color: rgb(255, 255, 255);
        .fonfoform{
            display: flex;
            flex-direction: column;
            height: auto;
            background-color:map-get($color,colorpagee);
            text-decoration:underline;
            border: 2px solid ;
            padding: 5px;
            label{
                font-size: small;
            }
        }
    }
}   