#botonMenu{
    border: 1px solid white;
}
#barra{
    display: flex;
    justify-content: center;
    background-color:map-get($color,colorpagee);
    color: rgb(255, 255, 255);
    a{
        background-color:map-get($color,colorpagee);
        color: rgb(255, 255, 255);  
        &:hover {
            background-color: #3d38a8;
        }
    }   
}
span{
    background-color: rgb(255, 255, 255);
}
#navbarNav{
    flex: auto;
    ul{
        flex: auto;
    li{
        flex: auto;
        text-align: center
        }
    }
}

